@import 'tailwindcss';

@theme {
    --color-primary: #924ff7;
    --color-primary-alt: #7934dd;
    --color-primary-dark: #2e1065;
    --color-primary-light: #f3e8ff;

    --color-danger: #ef4444;
    --color-danger-alt: #dc2626;
    --color-danger-dark: #450a0a;
    --color-danger-light: #fee2e2;

    --color-success: #22c55e;
    --color-success-alt: #16a34a;
    --color-success-dark: #052e16;
    --color-success-light: #dcfce7;

    --color-warning: #facc15;
    --color-warning-alt: #eab308;
    --color-warning-dark: #422006;
    --color-warning-light: #fefce8;

    --color-bg: #120e16;
}

@layer base {
    body {
        @apply bg-bg text-primary-light m-0 min-h-screen antialiased;
        font-family:
            'Baloo 2',
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            'Segoe UI',
            sans-serif;
    }

    code {
        @apply text-primary font-mono text-sm;
    }
}
